<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="monroney-plugin"
    version="1.0.0">
    <name>Monroney Plugin</name>

    <!-- android -->
    <platform name="android">
      <source-file src="android/res/raw/scannerlicense.jet" target-dir="res/raw"/>
      <source-file src="android/res/raw/qrvin-release-key.keystore" target-dir="."/>
        <config-file target="res/xml/config.xml" parent="/*">
            <icon density="ldpi" src="www/res/icon/36.png" />
            <icon density="mdpi" src="www/res/icon/48.png" />
            <icon density="hdpi" src="www/res/icon/72.png" />
            <icon density="xhdpi" src="www/res/icon/96.png" />
            <icon density="xxhdpi" src="www/res/icon/144.png" />
            <icon density="xxxhdpi" src="www/res/icon/192.png" />
            <preference name="android-minSdkVersion" value="23"/>
            <preference name="orientation" value="landscape" />
        </config-file>
    </platform>

    <!-- ios -->
    <platform name="ios">
        <source-file src="ios/res/raw/scannerlicense.plist"/>
    </platform>
</plugin>
